<a href="https://colab.research.google.com/github/Obiascpe/OBIAS_CPE009A-OOP/blob/main/Laboratory_Activity_1_Literals%2C_Operators%2C_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Laboratory Activity No.1** (Literals, Operators, and Variables)

**Name:** Jave Joaquin C. Obias

**Section:** CPE12S2

**Date Performed:** January 8, 2026

## **Assigning variables of different data types in Python**

### 1.) In an empty cell, declare a variable value and assign it the value of 5 then display its value using print().

In [204]:
value = 5
print(value)

5

### 2.) Create a new cell and type the command: type(value) then run the cell. The output should be like the image below.

In [205]:
type(value)

int

### 3.) In a new cell, use the same variable value and assign it the value of 5.0 then print the value.

In [206]:
value = 5.0
print(value)

5.0

### 4.) Repeat step 2.
**Note**: You may choose to decide how you execute the code in the cells for the next tasks in the procedure.

In [207]:
type(value)

float

### 5.) Repeat these steps for the following values:
a.) 2+3j

b.) ‚ÄòHello World‚Äô

c.) ‚ÄúHello World‚Äù

d.) True

e.) False

f.) [1,2,3,4,5]

g.) (1,2,3,4,5)

h.) { ‚Äòname‚Äô: ‚ÄòYour_name‚Äô }

i.) None

In [208]:
value = 2+3j
print(value)

value = 'Hello World'
print(value)

value = "Hello World"
print(value)

value = True
print(value)

value = False
print(value)

value = [1,2,3,4,5]
print(value)

value = (1,2,3,4,5)
print(value)

value = {'name': 'Jave Joaquin C. Obias'}
print(value)

value = None
print(value)

(2+3j)
Hello World
Hello World
True
False
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Jave Joaquin C. Obias'}
None

### 6.) Re-assign the value variable to be equal to 5.

In [209]:
value = 5
print(value)

5

### 7.) Declare a new variable named value2 to be equal to -6.

In [210]:
value2 = 6
print(value2)

6

## **Performing Operations with Python**

### 1.) Using value and value2. Type the command: print(value+value2)

In [211]:
print(value+value2)

11

### 2.) Repeat step 1 for the following values of value and value2:
**Hint**: You may try using this assignment	value, value2 = 5, -6 in the Notebook for the following steps:

a.) value, value2 = 5.0, 6

b.) value, value2 = -5, 6.1

c.) value, value2 = ‚ÄúHello‚Äù, ‚Äòworld‚Äô

**Note**: Modify the code so that hello and world would be separated.

d.) value, value2 = [1,2,3], [4,5,6]

e.) value, value2 = (1,2,3), (4,5,6)

f.) value, value2 = {"name":"Royce"}, {"age":2}

**Note**: Observe the outputs carefully and try repeating them using subtraction.

In [212]:
value, value2 = 5.0, 6
print(value+value2)

value, value2 = -5, 6.1
print(value+value2)

value, value2 = "Hello ", 'world'
print(value+value2)

value, value2 = [1,2,3], [4,5,6]
print(value+value2)

value, value2 = (1,2,3), (4,5,6)
print(value+value2)

value, value2 = {'name':"Jave Joaquin"}, {'age':2}
print(value|value2)

11.0
1.0999999999999996
Hello world
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Jave Joaquin', 'age': 2}

### 3.) Using value, value2 = 30, 4.
Type the commands:

a.) print(value*value2)

b.) print(value2**2)

c.) print(value2**3)

d.) print(value*value2+value2**2+1)

e.) print(value/value2)

f.) print(value%value2)

In [213]:
value, value2 = 30, 4
print(value*value2)
print(value2**2)
print(value2**3)
print(value*value2+value2**2+1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

## **Assigning Input Data to a Variable**

### 1.) Declare a new variable named name and assign it the value input(‚ÄúEnter your name‚Äù)

In [ ]:
name = input("Enter your name: ")

### 2.) Create another variable named weight and assign it the value input(‚ÄúEnter your weight(kg): ‚Äú)

In [ ]:
weight = input("Enter your weight(kg): ")

### 3.) Create another variable named height and assign it the value input(‚ÄúEnter your meters(m): ‚Äú)

In [ ]:
height = input("Enter your meters(m): ")

### 4.) Declare another variable called bmi and assign it the formula ùëèùëöùëñ = ùë§ùëíùëñùëî‚Ñéùë°/‚Ñéùëíùëñùëî‚Ñéùë°^2

In [ ]:
bmi = float(weight)/float(height)**2

### 5.) Address the errors displayed step#4. You can accomplish this by converting the String input to another data type. An example would be:
weight = input(‚ÄúEnter your weight(kg)‚Äù)
weight = float(weight)

Or simply weight = float(input(‚ÄúEnter your weight(kg): ‚Äú))

There are many functions available that can convert one data type to another. Some of which are the following:
int(), float(), str()
Other functions which maybe used in the later lab activities are: complex(real, imaginary), list(), tuple(), set(), dict(), ord(), bin(), hex(), oct().

### 6.) Print the persons‚Äôs name, weight, height, and bmi
Name: John Ray

Weight: 60

Height: 1.6764

BMI = 21.3499

**Guide**: 5.5 feet ~ 1.6764 m

**Hint**: You can combine two values by converting the output value to String and Concatenating (Addition) the operator on two strings.
print(‚ÄúValue: ‚Äú+str(12))
You may explore many other methods to format values onto the print() function in Python. Another example is the following:
print(‚ÄúValue: ‚Äú, 12)

In [ ]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your meters(m): "))
bmi = weight/height**2

print("Name: ", name)
print("Weight: ", weight)
print("Height: ", height)
print("BMI = ", bmi)

## **Supplementary Activity:**