<a href="https://colab.research.google.com/github/Obiascpe/OBIAS_CPE-009A-CPE12S2-OOP/blob/main/Laboratory_Activity_1_Literals%2C_Operators%2C_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LABORATORY ACTIVITY NO. 1** (Literals, Operators, and Variables)

**Name:** Jave Joaquin C. Obias

**Section:** CPE12S2

**Date Performed:** January 8, 2026

## **Assigning variables of different data types in Python**

### 1.) In an empty cell, declare a variable **value** and assign it the value of 5 then display its value using print().

In [ ]:
value = 5
print(value)

5

### 2.) Create a new cell and type the command: type(value) then run the cell. The output should be like the image below.

In [ ]:
type(value)

int

### 3.) In a new cell, use the same variable **value** and assign it the value of 5.0 then print the value.

In [ ]:
value = 5.0
print(value)

5.0

### 4.) Repeat step 2.
**Note:** You may choose to decide how you execute the code in the cells for the next tasks in the procedure.

In [ ]:
type(value)

float

### 5.) Repeat these steps for the following values:
a) 2+3j

b) ‚ÄòHello World‚Äô

c) ‚ÄúHello World‚Äù

d) True

e) False

f) [1,2,3,4,5]

g) (1,2,3,4,5)

h) { ‚Äòname‚Äô: ‚ÄòYour_name‚Äô }

i) None

In [ ]:
value = 2+3j
print(value)

value = 'Hello World'
print(value)

value = "Hello World"
print(value)

value = True
print(value)

value = False
print(value)

value = [1,2,3,4,5]
print(value)

value = (1,2,3,4,5)
print(value)

value = {'name': 'Jave Joaquin C. Obias'}
print(value)

value = None
print(value)

(2+3j)
Hello World
Hello World
True
False
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Jave Joaquin C. Obias'}
None

### 6.) Re-assign the **value** variable to be equal to 5.

In [ ]:
value = 5

### 7.) Declare a new variable named **value2** to be equal to -6.

In [ ]:
value2 = -6

## **Performing Operations with Python**

### 1.) Using **value** and **value2**. Type the command: print(**value+value2**)

In [ ]:
print(value+value2)

-1

### 2.) Repeat step 1 for the following values of **value** and **value2**:
**Hint:** You may try using this assignment	**value, value2 = 5, -6** in the Notebook for the following steps:

a) value, value2 = 5.0, 6

b) value, value2 = -5, 6.1

c) value, value2 = ‚ÄúHello‚Äù, ‚Äòworld‚Äô

**Note:** Modify the code so that hello and world would be separated.

d) value, value2 = [1,2,3], [4,5,6]

e) value, value2 = (1,2,3), (4,5,6)

f) value, value2 = {"name":"Royce"}, {"age":2}

**Note:** Observe the outputs carefully and try repeating them using subtraction.

In [163]:
value, value2 = 5.0, 6
print(value+value2)

value, value2 = -5, 6.1
print(value+value2)

value, value2 = "Hello ", 'world'
print(value+value2)

value, value2 = [1,2,3], [4,5,6]
print(value+value2)

value, value2 = (1,2,3), (4,5,6)
print(value+value2)

value, value2 = {"name":"Royce"}, {"age":2}
print(value|value2)

11.0
1.0999999999999996
Hello world
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Royce', 'age': 2}

### 3.) Using value, value2 = 30, 4. Type the commands:
a) print(value*value2)

b) print(value2**2)

c) print(value2**3)

d) print(value*value2+value2**2+1)

e) print(value/value2)

f) print(value%value2)

In [ ]:
value, value2 = 30, 4
print(value*value2)
print(value2**2)
print(value2**3)
print(value*value2+value2**2+1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

## **Receiving Input Data using Python**

### **input(‚ÄúMessage Name‚Äù)**

In [ ]:
input("Message Name: ")

Message Name: CPE12S2

'CPE12S2'

### **name = input(‚ÄúEnter your name: ‚Äú)**

In [ ]:
name = input("Enter your name: ")

Enter your name: Jave Joaquin C. Obias

## **Assigning Input Data to a Variable**

### 1.) Declare a new variable named **name** and assign it the value **input(‚ÄúEnter your name‚Äù)**

In [ ]:
name = input("Enter your name: ")

Enter your name: Jave Joaquin C. Obias

### 2.) Create another variable named **weight** and assign it the value **input(‚ÄúEnter your weight(kg): ‚Äú)**

In [ ]:
weight = input("Enter your weight(kg): ")

Enter your weight(kg): 55

### 3.) Create another variable named **height** and assign it the value **input(‚ÄúEnter your height(m): ‚Äú)**

In [ ]:
height = input("Enter your height(m): ")

Enter your height(m): 1.70

### 4.) Declare another variable called **bmi** and assign it the formula **ùëèùëöùëñ = ùë§ùëíùëñùëî‚Ñéùë° / (‚Ñéùëíùëñùëî‚Ñéùë°)^2**

In [ ]:
bmi = float(weight) / (float(height) ** 2)
print(bmi)

19.031141868512112

### 5.) Address the errors displayed step#4. You can accomplish this by converting the String input to another data type. An example would be:
**weight** = input(‚ÄúEnter your weight(kg)‚Äù)

**weight** = float(weight)

Or simply **weight** = float(input(‚ÄúEnter your weight(kg): ‚Äú))

There are many functions available that can convert one data type to another. Some of which are the following:

int(), float(), str()

Other functions which maybe used in the later lab activities are:

complex(real, imaginary), list(), tuple(), set(), dict(), ord(), bin(), hex(), oct().

In [ ]:
weight = input("Enter your weight(kg): ")
weight = float(weight)
weight = float(input("Enter your weight(kg): "))

Enter your weight(kg): 55
Enter your weight(kg): 55

### 6.) Print the persons‚Äôs name, weight, height, and bmi
Name: John Ray

Weight: 60

Height: 1.6764

BMI = 21.3499

**Guide:** 5.5 feet ~ 1.6764 m

**Hint:** You can combine two values by converting the output value to String and Concatenating (Addition) the operator on two strings.

print(‚ÄúValue: ‚Äú+str(12))

You may explore many other methods to format values onto the print() function in Python. Another example is the following:

print(‚ÄúValue: ‚Äú, 12)

In [ ]:
name = "John Ray"
weight = 60
height = 1.6764
bmi = 21.3499
print("Name:", name)
print("Weight:", weight)
print("Height:", height)
print("BMI =", bmi)

Name: John Ray
Weight: 60
Height: 1.6764
BMI = 21.3499

## **Supplementary Activity:**

### 1.) **Write the Python equivalent code of the following C code:**
**int main() {**

**float base = 0, height = 0, area = 0; printf(‚ÄúEnter the base of the triangle:**

**‚Äú); scanf(‚Äú%f‚Äù, &base);**

**printf(‚ÄúEnter the height of the triangle: ‚Äú); scanf(‚Äú%f‚Äù, &height);**

area = (1/2)*base*height; **bold text**

**print(‚ÄúThe area of the triangle is %f‚Äù, area);**

**}**

In [ ]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (1/2)*base*height
print("The area of the triangle is", area)

Enter the base of the triangle: 2
Enter the height of the triangle: 4
The area of the triangle is 4.0

### 2.) **Write a program that would convert Celsius to Fahrenheit given the formula: F = (C √ó 9/5) + 32 Example of conversion:**
**0¬∞C = 32 ¬∞F**

**-20¬∞C = -4 ¬∞F**

In [ ]:
C = float(input("Enter the temperature in Celsius: "))
F = (C * 9/5) + 32
print(C, "¬∞C =", F, "¬∞F")

Enter the temperature in Celsius: 0
0.0 ¬∞C = 32.0 ¬∞F

### 3.) **Write a program that can determine the distance between two points given the coordinates using the formula:**

**ùíÖ = ‚àö(ùíôùüê ‚àí ùíôùüè)^ùüê + (ùíöùüê ‚àí ùíöùüè)^ùüê**

**Hint/Rule: No library or package is needed to implement this equation.**

**Example: x2, y2 = -3, 3 and x1, y1 = 2, 2 d = 5.099019514**

In [ ]:
x1 = float(input("Enter the x1 value: "))
y1 = float(input("Enter the y1 value: "))
x2 = float(input("Enter the x2 value: "))
y2 = float(input("Enter the y2 value: "))
d = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("The distance between the two points is", d)

Enter the x1 value: 2
Enter the y1 value: 2
Enter the x2 value: -3
Enter the y2 value: 3
The distance between the two points is 5.0990195135927845